body{
    background-color: aqua;
    color: black;

}
h1{
    color: red;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2{
    color: rgb(224, 0, 245);
}
footer{
    background-color: slateblue;
}